h1 {
	color: rgb(132, 53, 132);
}

body {
	background-color: white;
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
}

a {
	color: rgb(132, 53, 132);
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.newsitem {
	margin: 20px;
	padding: 10px;
	border: solid 2px #31473A;
	border-radius: 10px;
	background-color: #EDF4F2;
}

table.data {
	border-collapse: collapse;
}

table.data tr:first-child {
	background-color: #000000;
	color: white;
}

table.data tr:nth-child(even) {
	background-color: #f3e6f3;
}

ul.navbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #030303;
}

ul.navbar li {
	float: left;
}

ul.navbar a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}

ul.navbar a.active {
	background-color: rgb(132, 53, 132);
}

ul.navbar a:hover {
	background-color: rgb(132, 53, 132);
}

span.date {
	color: #006120;
	font-weight: bold;
}

div#header {
	background-color: #EDF4F2;
}
#content {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}
div#footer {
	background-color: #222222;
	color: #dddddd;
	text-align: center;
	padding: 50px;
	font-size: 16px;
}
h2 {
    color: rgb(132, 53, 132);
}
html, body {
    height: 100%;
    margin: 0;
}
.section-box {
  background-color: #f9f9f9;
  border: 1px solid #843584;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.repeating-banner {
	background-image: url("images/home2.jpeg");
	background-repeat: repeat-x;
	background-size: auto 150px; 
	height: 150px;
	width: 100%;
}
